html {
  scroll-behavior: smooth;
}

.logo {
	font-family: Engravers MT, Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

.animated.faster {
	-webkit-animation-duration: 500ms;
	animation-duration: 500ms;
}

.fadeIn {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
}

.fadeOut {
	-webkit-animation-name: fadeOut;
	animation-name: fadeOut;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

.main-color {
	filter: invert(63%) sepia(75%) saturate(1516%) hue-rotate(358deg) brightness(99%) contrast(93%);
}

.cards-container {
		padding-bottom: 4rem;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 250px;
	margin-bottom: 35px;
}

.card img {
	width: 70px;
}

/* On mouse-over, add a deeper shadow */
.card:hover, .badge:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container-card {
	text-align: center;
	font-weight: 500;
	padding-top: 10px;
	width: 60%;
	line-height: 1;
}

@media (max-width: 1024px) {
	.mobile-padding {
		margin-bottom: 10px;
	}
	.cards-container {
		justify-content: space-between;
		padding-top: 1rem;
		padding-bottom: 1rem;
	}
}

@media (max-width: 540px) {
	.cards-container {
		justify-content: center;
	}
}